h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}
.table-container {
    display: flex;
    justify-content: space-around;
}
table {
    margin: 10px;
}
h2 {
    font-size: 24px;
    text-align: center;
}
h3 {
    font-size: 24px;
    text-align: left;
}
p {
    font: caption;
    font-size: 16px;
    justify-content: left;
}
th, td {
    font-size: 12px;
    text-align: center;
}
table {
    border: 0.25rem solid black;
}
button {
    padding: 5px 15px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font: bold;
    font-size: 16px;
    transition: all 250ms;
    overflow: hidden;
    background-color: transparent;
    border: black 1px solid;
}
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
button:hover {
    color: #e8e8e8;
}
button:hover::before {
    width: 100%;
}
form {
    margin-bottom: 25px;
}
select {
    width: 225px;
    padding: 5px 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 4px;
    resize: vertical;
}